doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        //- 链接style
        link(rel="stylesheet" href="css.css")
        //- 导入style
        //- style
            //- include css.css
    body
        h1 你好
        //- ul
        //-     each str in ['a', 'b', 'c', 'd', 'e']
        //-         li= str
        form
            label url
            input(type="url" autofocus placeholder="请输入url" autocomplete="off") 
            input(type="submit" value="come on" )
            input(type="text")
            input(type="text")


