<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <title>json</title>
    <script>
        $(function () {
            $('#btn1').click(function () {
                $.get('/json2/', function (data) {
                    $('#title').text(data['title']);
                    $('#content').text(data['content']);
                });
            });
        });
    </script>
</head>

<body>
    <input type="button" value="获取数据" id="btn1">
    <ul>
        <li id="title"></li>
        <li id="content"></li>
    </ul>
    <a href="/json2/">json2</a>
</body>

</html>