<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>post请求</title>
</head>

<body>
    <form action="/post2/" method="post">
        <input type="text" name="title" value="张三">
        <br>
        <input type="radio" name="gender" value="♂" checked>♂&nbsp;
        <input type="radio" name="gender" value="♀">♀&nbsp
        <br>
        <input type="checkbox" name="hobby" value="胸口碎大石">胸口碎大石&nbsp
        <input type="checkbox" name="hobby" value="脚踩电灯泡">脚踩电灯泡&nbsp
        <input type="checkbox" name="hobby" value="抽烟喝酒烫头">抽烟喝酒烫头&nbsp
        <br>
        <select name="city" id="">
            <option value="北京">北京</option>
            <option value="上海">上海</option>
            <option value="天津">天津</option>
        </select>

        <input type="submit" value="提交">

    </form>
</body>

</html>